<div class="twin-col-tree-nav">
    <!-- Bread crumb -->
    <div class="bread-crumb">
        <span ng-repeat="elem in breadCrumb" class="bread-crumb-elem">
            <a ng-click="selectBreadCrumbElement(elem)">{{elem.name}}
                <span ng-if="hasChildren(elem)"> &#9658;</span>
            </a>
        </span>
    </div>
    <!-- twin col -->
    <div class="twin-cols">
        <!-- Left -->
        <div class="left-column">
            <div class="list-item" ng-repeat="root in currentRoots">
                <a ng-click="selectRoot(root)">
                    {{root.name}}
                    <span class="child-pointer" ng-if="hasChildren(root)"> &#9658;</span>
                </a>
            </div>
        </div>
        <!-- Right -->
        <div class="right-column">
            <div class="list-item" ng-repeat="child in childrenOfSelectedRoot">
                <a ng-click="selectChild(child, childrenOfSelectedRoot)">{{child.name}}
                    <span class="child-pointer" ng-if="hasChildren(child)"> &#9658;</span>
                </a>
            </div>
        </div>
    </div>
</div>
